NEXT_PUBLIC_API_URL_DEVELOPMENT=DEVELOPMENT_BACKEND_URL
NEXT_PUBLIC_API_URL_STAGING=STAGING_BACKEND_API_URL
NEXT_PUBLIC_API_URL_PRODUCTION=PRODUCTION_BACKEND_API_URL
NEXT_PUBLIC_STRICT_MODE=true
NEXT_PUBLIC_RAZORPAY_KEY_ID=RAZORPAY_KEY_ID
NEXT_PUBLIC_ENVIRONMENT=staging/production # .env file for development mode is different called .env.local
NEXT_PUBLIC_KYC_REDIRECT=false/true