DATABASE_URL=mysql+mysqlconnector://username:password@hostname/dbname
COOKIE_DOMAIN=.domain_name_of_the_backend_server
ENVIRONMENT=development/staging/production
CLUSTER_SECRET_PASS_ENCRYPTION_KEY=ClUSTER_SECRET_SALT_KEY
SMTP_PASSWORD=SMTP_PASSWORD
SMTP_SERVER=SMTP_SERVER_DOMAIN
SMTP_PORT=SMTP_PORT
SMTP_USERNAME=SMTP_USERNAME
UNSPLASH_ACCESS_KEY=WEB_BUILDER_API_KEY
OPENAI_API_KEY=OPEN_AI_WEBBUILDER_API_KEY
ACCESS_TOKEN_SECRET_KEY=ACCESS_TOKEN_ENCRYPTION_KEY
REFRESH_TOKEN_SECRET_KEY=REFRESH_TOKEN_ENCRYPTION_KEY
JWT_ALGORITHM=JWT_ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES=ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_HOURS=REFRESH_TOKEN_EXPIRE_HOURS
RAZORPAY_KEY_ID=RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=RAZORPAY_KEY_SECRET
RAZORPAY_WEBHOOK_SECRET=RAZORPAY_WEBHOOK_SECRET
DOMAIN_CHECK_API_KEY=DHC_API_KEY_FOR_DOMAIN_AVAILABILITY_CHECK_API
DOMAIN_CHECK_USER_AUTH_CODE=DHC_USER_AUTH_CODE_FOR_DOMAIN_AVAILABILITY_CHECK_API
RTR_API_URL=RTR_API_URL_FOR_RTR_APIS
DHC_API_URL=DHC_API_URL_FOR_DHC_APIS
OTE_API_KEY=OTE_API_KEY_FOR_API
DHC1_API_KEY=DHC1_API_KEY_FOR_DOMAINS_WITH_DHC1_PROVIDER
DHC1_AUTH_USER_ID=DHC1_AUTH_USER_ID_FOR_DOMAINS_WITH_DHC1_PROVIDER